$primary: #18c576;
$dark-primary: #0f824e;
$text-color: #ffffff;
$day-product: #ffa726;
$hit-product: #ac59f1;
$sellout-product: #39b0f4;
$bg-main: #efeeee;
$bg-form: #ffffff;
$text-form: #444444;
$border-form: #E6E6E6;
$error-form: #E44B4B;