@use "./variables" as *;

.form {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  transform: translateY(-100%);
  opacity: 0;
  transition: transform 0.4s ease, opacity 0.4s ease;

  &.form_visible {
    transform: translateY(0);
    opacity: 1;
    pointer-events: auto;
  }

  .form_overlay {
    position: absolute;
    inset: 0;
    backdrop-filter: blur(3px); 
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .form_container {
    position: relative;
    z-index: 1;
    padding: 14px 12px;
    border-radius: 5px;
    background-color: $bg-form;

    .form_header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;
      margin-bottom: 34px;

      .form_title {
        font-size: 20px;
        font-weight: 500;
      }
      .form_close {
        border: none;
        cursor: pointer;

        &:before {
          content: "";
          position: absolute;
          top: 0px;
          right: 10px;
          display: block;
          width: 1px;
          height: 20px;
          background-color: $text-form;
          transform: rotate(-45deg);
        }
        &:after {
          content: "";
          position: absolute;
          top: 0px;
          right: 10px;
          display: block;
          width: 1px;
          height: 20px;
          background-color: $text-form;
          transform: rotate(45deg);
        }
      }
    }

    .form_input-area {
      margin-bottom: 24px;
    }

    .form_input {
      width: 100%;
      margin-bottom: 4px;
      padding: 12px;
      border-radius: 5px;
      border: 1px solid $border-form;
      color: $text-form;

      &:focus {
        border-color: $text-form;
        outline: none;
      }
    }

    .error {
      border: 1px solid $error-form;
    }

    .error_message {
      display: none;
      padding-left: 12px;
      font-size: 10px;
      color: $error-form;
    }

    .error_text {
      color: $error-form;
    }

    .form_footer {
      display: flex;
      align-items: center;
      gap: 15px;

      &_checkbox {
        margin-right: 5px;
        cursor: pointer;
      }

      &_personal {
        flex-grow: 1;
        font-size: 8px;
      }

      &_button {
        padding: 13px 20px;
        border-radius: 5px;
        border: none;
        background: $primary;
        font-size: 12px;
        font-weight: 700;
        color: $bg-form;
        cursor: pointer;
      }

      .btn-disabled {
        opacity: 0.5;
      }
    }
  }
}
