$primary: #18c576;
$text-color: #ffffff;
$day-product: #ffa726;
$hit-product: #ac59f1;
$sellout-product: #39b0f4;

@media (max-width: 959px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 6px;
    margin: 48px auto 0px auto;
    max-width: 331px;

    .video {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 94px;

      .video__preview {
        width: 100%;
      }

      .video__button {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 11px;
        width: 177px;
        height: 34px;
        font-size: 15px;
        font-weight: 500;
        transform: skewX(-20deg);
      }

      .video__play-icon {
        padding-top: 1px;
      }
    }

    .card__container {
      width: 100%;
      margin-bottom: 13px;

      .card__image {
        width: 100%;
        border-radius: 5px;
      }

      .card__header-left {
        display: flex;
        flex-direction: column;
        gap: 12px;
      }

      .card__title {
        padding-top: 4px;
        font-size: 20px;
        font-weight: 600;
      }

      .card__header-right {
        display: flex;
        flex-direction: column;
        gap: 5px;
        padding: 6px 12px 0 0;
      }

      .svg-icon {
        transition: all 0.3s ease;
        color: $text-color;
      }

      .card__footer {
        position: absolute;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 11px;
        align-items: center;
        padding-bottom: 14px;
        bottom: 0px;
        color: $text-color;

        .card__promos_tablet {
          display: none;
        }
      }

      .card__price {
        font-size: 20px;
        font-weight: 700;
      }

      .card__application {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90%;
        height: 30px;
        padding: 3px;
        color: $text-color;
        background-color: $primary;
        border: none;
        border-radius: 5px;
        font-size: 13px;
      }
    }

    .products-grid__col_middle {
      margin-bottom: -16px;
    }

    .slider {
      width: 100%;
      overflow: hidden;
      position: relative;
      padding: 20px 0;
    }
    .slider__track {
      display: flex;
      flex-direction: row;
      transition: transform 0.3s ease;
      padding: 0 15%;
    }
    .product-card {
      position: relative;
      flex: 0 0 80%;
      margin-right: 20px;
      border-radius: 5px;
      background: $text-color;
      transition: opacity 0.3s ease;
    }

    .product-card__image {
      width: 230px;
      height: 230px;
      object-fit: cover;
      border-radius: 5px;
      margin-bottom: 13px;
    }

    .product-card__title {
      margin-top: 0px;
      padding: 0 31px 0 17px;
      font-size: 18px;
      margin-bottom: 31px;
    }

    .product-card__price {
      margin: 0 auto 6px auto;
      padding-left: 5px;
      font-size: 26px;
      font-weight: 700;
    }

    .product-card__application {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 200px;
      height: 40px;
      margin: 0 auto 18px auto;
      border: none;
      border-radius: 5px;
      background-color: $primary;
      color: $text-color;
    }

    .slider__dots {
      display: flex;
      justify-content: center;
      margin-top: 20px;
    }
    .slider__dot {
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: #000;
      margin: 0 4px;
      opacity: 0.5;
      transition: opacity 0.3s ease;
    }
    .slider__dot.active {
      opacity: 1;
    }

    .product-card__header {
        position: absolute;
        display: flex;
        width: 100%;
        justify-content: space-between;
        padding-top: 10px;
        padding-left: 14px;
        color: $text-color;
    }

    .product-card__header-left {
      padding-top: 3px;

      .product-card__promo_hide-mobile {
        display: none;
      }
    }

    .product-card__header-right {
      display: flex;
      flex-direction: column;
      gap: 10px;
      padding: 5px 13px 0 0;
    }

    .product-card__promos {
      display: flex;
      flex-direction: column;
      gap: 4px;
    }

    .product-card__promo_day {
      background-color: $day-product;
      width: 103px;
      height: 26px;
      font-size: 16px;
    }

    .product-card__promo_sale {
      background-color: $primary;
      width: 72px;
      height: 26px;
      font-size: 16px;
    }

    .product-card__promo_hit {
      background-color: $hit-product;
      width: 44px;
      height: 23px;
    }
  }
}
