$primary: #18c576;
$text-color: #ffffff;
$day-product: #ffa726;
$hit-product: #ac59f1;
$sellout-product: #39b0f4;

@media (max-width: 959px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 6px;
    margin: 48px auto 0px auto;
    max-width: 331px;

    .video {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 94px;

      .video_preview {
        width: 100%;
      }

      .video_button {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 11px;
        width: 177px;
        height: 34px;
        font-size: 15px;
        font-weight: 500;
        transform: skewX(-20deg);
      }

      .playIcon {
        padding-top: 1px;
      }
    }

    .cards-container {
      // position: relative;
      // display: flex;
      // flex-direction: column;
      width: 100%;
      margin-bottom: 13px;

      .card_image {
        width: 100%;
        border-radius: 5px;
      }

      // .card_header {
      //   position: absolute;
      //   width: 100%;
      //   display: flex;
      //   justify-content: space-between;
      //   padding-top: 7px;
      //   padding-left: 14px;
      //   top: 0px;
      //   color: $text-color;
      // }

      .card_header__left {
        display: flex;
        flex-direction: column;
        gap: 12px;
      }

      .card_title {
        padding-top: 4px;
        font-size: 20px;
        font-weight: 600;
      }

      .card_header__right {
        padding: 12px 8px 0 0;
      }

      // .cards_promo {
      //   display: flex;
      //   gap: 4px;
      // }

      // .card_promo {
      //   display: flex;
      //   justify-content: center;
      //   align-items: center;
      //   padding: 0 5px;
      //   border-radius: 50px;
      //   font-size: 12px;
      //   font-weight: 600;
      // }

      // .card_promo__sale {

      //   background-color: $primary;
      //   width: 56px;
      //   height: 23px;
      // }

      // .card_promo__day {
      //   background-color: $day-product;
      //   width: 83px;
      //   height: 23px;
      // }

      // .card_promo__sellout {
      //   background-color: $sellout-product;
      //   width: 83px;
      //   height: 23px;
      // }

      // .card_promo__hit {
      //   background-color: $hit-product;
      //   width: 44px;
      //   height: 23px;
      // }

      .svg-icon {
        transition: all 0.3s ease;
        color: $text-color;
      }

      .card_footer {
        position: absolute;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 11px;
        align-items: center;
        padding-bottom: 14px;
        bottom: 0px;
        color: $text-color;
      }

      .card_price {
        font-size: 20px;
        font-weight: 700;
      }

      .card_application {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90%;
        height: 30px;
        padding: 3px;
        color: $text-color;
        background-color: $primary;
        border: none;
        border-radius: 5px;
        font-size: 13px;
      }
    }

    .middle-col {
      margin-bottom: -16px;
    }

    .slider-container {
      // display: flex;
      // flex-direction: row;
      width: 100%;
      overflow: hidden;
      position: relative;
      padding: 20px 0;
    }
    .slider-track {
      display: flex;
      flex-direction: row;
      transition: transform 0.3s ease;
      padding: 0 15%;
    }
    .product-card {
      position: relative;
      flex: 0 0 80%;
      margin-right: 20px;
      border-radius: 5px;
      background: $text-color;
      transition: opacity 0.3s ease;
    }

    .product-card__image {
      width: 230px;
      height: 230px;
      object-fit: cover;
      border-radius: 5px;
      margin-bottom: 13px;
    }

    .product-card__title {
      margin-top: 0px;
      padding: 0 31px 0 17px;
      font-size: 18px;
      margin-bottom: 31px;
    }

    .product-card__price {
      margin: 0 auto 6px auto;
      padding-left: 5px;
      font-size: 26px;
      font-weight: 700;
    }

    .card_application-slider {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 200px;
      height: 40px;
      margin: 0 auto 18px auto;
      border-radius: 5px;
      background-color: $primary;
      color: $text-color;
    }

    .slider-dots {
      display: flex;
      justify-content: center;
      margin-top: 20px;
    }
    .slider-dot {
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: #000;
      margin: 0 4px;
      opacity: 0.5;
      transition: opacity 0.3s ease;
    }
    .slider-dot.active {
      opacity: 1;
    }

    .card_header {
      position: absolute;
      display: flex;
      justify-content: space-between;
      color: $text-color;
      top: 0;
    }

    .card_header__left-slider {
      padding-top: 6px;
    }

    .card_header__right-slider {
      display: flex;
      flex-direction: column;
      gap: 10px;
      padding: 5px 13px 0 0;
    }

    .slider-cards-promo {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    .slider-card-promo__day {
      width: 103px;
      font-size: 16px;
    }

    .slider-card-promo__sale {
      width: 72px;
      font-size: 16px;
    }
  }
}
